@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$border: .1em solid #000;

body {
  font-family: 'Raleway';
}

.board {
  width: 14em;
  height: 14em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  margin: 2em 0;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(3) { 
  border-bottom: $border;
}

.tile:nth-child(4),
.tile:nth-child(5),
.tile:nth-child(6) { 
  border-top: $border;
  border-bottom: $border;
}

.tile:nth-child(7),
.tile:nth-child(8),
.tile:nth-child(9) { 
  border-top: $border;
}

.tile:nth-child(1),
.tile:nth-child(2),
.tile:nth-child(4),
.tile:nth-child(5),
.tile:nth-child(7),
.tile:nth-child(8) {
  border-right: $border;
}

.tile:nth-child(2),
.tile:nth-child(3),
.tile:nth-child(5),
.tile:nth-child(6),
.tile:nth-child(8),
.tile:nth-child(9) {
  border-left: $border;
}

.symbol {  
  font-size: 38pt;
  position: absolute;
}

.symbol--o {
  color: rgb(88, 219, 116);
}

.symbol--x {
  color: rgb(79, 126, 180);
}

.mode {
  font-family: 'Raleway';
  border: none;
  padding: .5em .75em;
  font-size: 12pt;
}

button {
  font-family: 'Raleway';
  background-color: rgb(39, 112, 196);
  border: none;
  padding: .5em .75em;
  color: #fff;
  font-size: 12pt;
}

.debug {
  font-family: 'Courier New', Courier, monospace
}